<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="EntityDB" connectionString="metadata=res://*/EntityVLModel.csdl|res://*/EntityVLModel.ssdl|res://*/EntityVLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=entservergr.database.windows.net;initial catalog=EntityDB;user id=nickthegreek;password=Helloworld1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntityDBEntities" connectionString="metadata=res://*/EntityDBVLM.csdl|res://*/EntityDBVLM.ssdl|res://*/EntityDBVLM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=entservergr.database.windows.net;initial catalog=EntityDB;persist security info=True;user id=nickthegreek;password=Helloworld1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntityDBEntities1" connectionString="metadata=res://*/EntityDBVLM.csdl|res://*/EntityDBVLM.ssdl|res://*/EntityDBVLM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:entservergr.database.windows.net,1433;initial catalog=EntityDB;persist security info=False;user id=nickthegreek;password=Helloworld1234;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>